{% extends "logsheet/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	{% if logpost.signIn %}
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Confirm Sign OUt</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Sign OUt</button>
				</div>

			</form>

		</div>
	{% else %}
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Please Sign In</legend>
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Sign In</button>
				</div>

			</form>

		</div>

	{% endif %}

{% endblock %}
