
{% extends "logsheet/base.html" %}
{% block content %}
<h1>Confirm Time Update</h1>


    <article class="media content-section">
			<img class="rounded-circle article-image" src={{ object.author.profile.image.url }}>
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">Date</a>
          <small class="text-muted">{{ object.signIn|date:"F d, Y l" }}</small>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'logpost-update' object.id %}">Sign Out</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'logpost-delete' object.id %}">Delete</a>
        </div>
        <h2 class="article-title">{{ object.member }}</h2>
        <p class="article-content">Sign In: {{ object.signIn|date:"g:i a" }} Sign Out: {{ object.signOut|date:"g:i a" }}</p>

      </div>
    </article>


{% endblock %}
