
{% extends "logsheet/base.html" %}
{% block content %}
<h1 class="mb-3">Signed by {{ view.kwargs.firstName }} ({{ page_obj.paginator.count }})</h1>

	{% for logpost in logposts %}
        <article class="media content-section">
					<img class="rounded-circle article-image" src={{ logpost.member.person.image.url }}>
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Date</a>
              <small class="text-muted">{{ logpost.signIn|date:"F d, Y l" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'logpost-detail' logpost.id%}">{{ object.member }}</a></h2>
            <p class="article-content">Sign In: {{ logpost.signIn|date:"g:i a" }} Sign Out: {{ logpost.signOut|date:"g:i a" }}</p>
          </div>
        </article>
    {% endfor %}
		{% if is_paginated %}

		    {% if page_obj.has_previous %}
			      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
				    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"">Previous</a>
		    {% endif %}

        {% for num in page_obj.paginator.page_range %}
				    {% if page_obj.number == num %}
						    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
						{% elif num > page_obj.number|add:'-3' and num > page_obj.number|add:'3' %}
						    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
						{% endif %}
				{% endfor %}

				{% if page_obj.has_next %}
			    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number }}">Next</a>
					<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}"">Last</a>
		    {% endif %}

		{% endif %}

{% endblock %}
